@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

@font-face {
  font-family: "chivo";
  src: url(/fonts/Chivo-Regular.woff2);
}

input:focus,
textarea {
  outline: none !important;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #f0f8fc;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Footer  nav*/

footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #f0f8fc6e;
  background: #262c38;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  padding-bottom: 20px;
  padding-top: 20px;
}

/* Footer  nav END*/

body {
  background: #262c38;
  color: #f0f8fc;
}

header {
  display: flex;
  justify-content: center;
}

/* Nav */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  padding-top: 20px;
}

.mobile-nav-profile {
  display: flex;
  align-items: center;
}

.mobile-nav-profile img {
  width: 50px;
  border-radius: 50%;
}

/* Nav End */

/*Main */

main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.add {
  margin-bottom: 18px;
}

.add span {
  padding: 5px;
  border-radius: 50%;
  border: 1px solid #f0f8fc6e;
}

.main-container {
  width: 90vw;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #9cabe4;
  padding: 20px;
  border-radius: 25px;
} 

.card h3 {
  margin-bottom: 20px;
  color: #262c38;
}

.card-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-color-es {
  display: flex;
  flex-direction: column;
}

.ex-acrd {
  color: #262c38 ;
}

.card-color-es h5{
  color: #262c38 !important;
}
/*Main End */

section {
  width: 100%;
  display: flex;
  margin-top: 32px;
  flex-direction: column;
  align-items: center;
}

.main-section-container {
  display: flex;
  justify-content: space-between;
  width: 90vw;
}

.sections-but {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons-sec {
  padding: 11px;
  border: 1px solid #f0f8fc6e;
  border-radius: 50%;
  margin-bottom: 10px;
  background: #393f4d;
  color: #ffff;
}

.second-section-container {
  margin-top: 50px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.s-sec-nav {
  display: flex;
  justify-content: space-between;
  width: 90vw;
}

.s-sec-nav span {
  font-weight: 200;
}

.shoes-section {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}

.shoes-card {
  display: flex;
  flex-direction: column;
  background: #3a404c;
  padding: 20px;
  width: 100%;
  margin: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.shoes-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.shoes-card-text span {
  margin: 5px 0;
}
.shoes-card img {
  width: 90px;
  border-radius: 50%;
  position: relative;
  top: -40px;
}

/*Pagina 2*/

.inven-header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.inven-nav {
  display: flex;
  justify-content: center;
}

.inven-main {
  display: flex;
  align-items: center;
  width: 100%;
}

.inven-main-head {
  display: flex;
  justify-content: space-between;
  width: 90vw;
}

.inven-main-head input {
  background: none;
  padding: 5px;
  border: 1px solid #f0f8fc6e;
  border-radius: 7px;
  max-width: 50vw;
}

.inven-main-head span {
  background: #393f4d;
  padding: 10px 35px;
  border-radius: 5px;
}

.flecha {
  position: absolute;
  top: 10px;
  left: 10px;
}

.shoes-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}
.shoes-section-h {
  display: flex;
  flex-direction: column;
}

/*Pagina run*/

.run-he {
  margin-top: 10px;
}

.flecha-run {
  left: 10px;
}

.run-days {
  background: #393f4d;
  padding: 5px 10px;
  border-radius: 3px;
}

.distance h2 {
  font-size: 45px;
  font-weight: 600;
}

.stats {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-row-1 {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  border-top: 1px solid #f0f8fc6e;
  padding-top: 10px;
  padding-bottom: 5px;
}

.stats-container {
  display: flex;
  justify-content: center;
}

.second-section-container-nav {
  display: flex;
  justify-content: space-between;
  width: 90vw;
}

.shoes-card-title {
  max-width: 200px;
}

.history-nav {
  margin-top: 40px;
  justify-content: center;
}

.history-nav h3 {
  font-weight: 400;
  font-size: 28px;
}

.history-s-sec {
  flex-direction: column;
}

.h-card {
  height: 130px;
}

.trade-main {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trade-main-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 70px;
}

.trade-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  background: #393f4d;
  border-radius: 20px;
  padding: 30px 0;
  margin-bottom: 19px;
}

.trade-row h1 {
  font-size: 20px;
  margin-bottom: 20px;
  background: #262c38;
  padding: 5px 15px;
  border-radius: 5px;
}

.trade-1-con {
  display: flex;
  align-items: center;
  text-align: center;
}

.trade-1 h5 {
  font-size: 18px;
  margin-bottom: 8px;
}

.trade-1-con img {
  width: 50px;
  border-radius: 50%;
  margin-left: 20px;
}

.trade-2-con {
  display: flex;
  align-items: center;
}

.trade-2-con img {
  width: 50px;
  border-radius: 50%;
  margin-left: 20px;
}

.flecha-trade {
  font-size: 23px !important;
  margin: 20px 0;
}

.BUY-1 span {
  font-size: 20px;
}

.bzt {
  color: #9dcfe8;
}

.trade-1 {
  text-align: center;
}

.CRYP-buy span {
  font-size: 20px;
}

.per {
  margin: 10px 0;
}

.par {
  background: #262c38;
  padding: 10px 15px;
  border-radius: 5px;
}




.section {
  width: 90vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.section img {
  width: 100%;
  margin-bottom: 5px;
}

.crypt-dvs span{
  font-size: 20px;
}

.buy-button{
  background: #2f7b32;
  padding: 7px 30px;
  border-radius: 5px;
} 

.crypt-dvs {
  margin-bottom: 0px;
}

.card-wallet {
  margin-top: 40px;
}

.wallet-card {
  margin: 20px 0;
}

.expe {
  background: #fb4349;
  color: #9cabe3 !important;
}


.oxpo {
  background: #6dbcdb;

}



.wallet-main {
  margin-bottom: 70px;
}

.hola-b {
  align-items: center;
}

.flecha-ap{

  top: 30px;
}

.settings-main {
  width: 90vw;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.yolisimo {
  width: 90vw;
  margin-bottom: 20px;
}

.sett-title {
  font-size: 17px;
  margin-bottom: 5px;
  border-bottom: 1px solid #f0f8fc6e;
  padding-bottom: 5px;
}

.setting-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}



.setttt {
  font-size: 17px;
}

.log-out-s {
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-out-s h6 {
  border: 0;
  font-size: 23px;
  margin-top: 8px;
  margin-right: 20px;
}

.log-out-s span {
  font-size: 23px;
}

.log-out-s {
  border-top: 1px solid #f0f8fc6e;
}

.nft-card-info {
  background: #3a404c;
  border: 1px solid #f0f8fc6e;
  position: fixed;
  top: 20%;
  left: 25%;
  z-index: 100;
  margin-right: 40px;
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nft-card-info img {
  width: 120px;
  left: 50%;
  border-radius: 1px;
}

.abut {
  border: none;
}

.wadwa {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.nft-card-info {
  display: none;
}

.nft-card-info.toggle {
  display: flex;
}

.nft-card-info.dess {
  display: none !important;
}

.close {
  position: fixed;
  top: 10px;
  right: 10px;
  background: #fb4349;
  border-radius: 5px;
  padding: 5px;
}

.close {
  display: none !important;
}

.close.act {
  display: flex !important;
}

.close.dissa{
  display: none !important;
}